@font-face {
  font-family: 'Akrobat';
  src: url("../fonts/Akrobat/Akrobat-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Akrobat';
  src: url("../fonts/Akrobat/Akrobat-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Akrobat';
  src: url("../fonts/Akrobat/Akrobat-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans/OpenSans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans/OpenSans-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  min-height: 500px;
  margin: 0 auto;
  font-family: OpenSans, sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #000;
}

h1, .h1 {
  font-family: Akrobat;
  font-weight: bold;
  font-size: 60px;
  line-height: 68px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

h2, .h2 {
  font-family: Akrobat;
  font-weight: bold;
  font-size: 42px;
  line-height: 50px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

h3, .h3 {
  font-family: Akrobat;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.01em;
}

h4, .h4 {
  font-family: Akrobat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.01em;
}

h5, .h5 {
  font-size: 16px;
  line-height: 26px;
  color: #4D4D4D;
}

p {
  font-size: 16px;
  line-height: 26px;
}

a {
  color: #000;
  text-decoration: none;
  outline: none;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

a:hover {
  opacity: 0.7;
  text-decoration: none;
  outline: none;
  color: inherit;
}

a:active {
  opacity: 0.6;
  outline: none;
  color: inherit;
  text-decoration: none;
}

a:focus {
  outline: none;
  color: inherit;
  text-decoration: none;
}

button, input, textarea, select {
  padding: 0;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

button:hover, input:hover, textarea:hover, select:hover {
  opacity: 0.8;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

img {
  max-width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::-webkit-input-placeholder {
  color: #4D4D4D;
  font-size: 16px;
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

*:-moz-placeholder {
  color: #4D4D4D;
  font-size: 16px;
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

*::-moz-placeholder {
  color: #4D4D4D;
  font-size: 16px;
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

*:-ms-input-placeholder {
  color: #4D4D4D;
  font-size: 16px;
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header {
  padding: 20px 0;
  background: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.05);
  -webkit-backdrop-filter: blur(45px);
          backdrop-filter: blur(45px);
  -webkit-transform: translate(0 0);
      -ms-transform: translate(0 0);
          transform: translate(0 0);
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.header-fixed {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 10px 0;
  z-index: 9999;
  -webkit-transform: translate(0 0);
      -ms-transform: translate(0 0);
          transform: translate(0 0);
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.header-fixed + .content {
  padding-top: 90px;
}

.header-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header-contacts__item {
  position: relative;
  padding: 0 0 0 21px;
  margin-right: 30px;
}

.header-contacts__item:last-child {
  margin-right: 0;
}

.header-contacts__item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 12px;
  height: 18.5px;
  background: url(../img/marker-ic.svg);
}

.header-contacts__item strong {
  display: block;
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 16px;
}

.header-contacts__item span {
  font-size: 14px;
  line-height: 16px;
  color: #666;
}

.header-tel {
  text-align: right;
}

.header-tel__number {
  display: block;
  font-family: Akrobat;
  font-weight: 800;
  font-size: 28px;
  line-height: 34px;
}

.header-tel__callback {
  color: #184487;
  border-bottom: 1px dashed;
}

.header-tel__callback:focus {
  color: #184487;
}

.banner {
  position: relative;
  max-width: 1920px;
  margin: 0 auto 64px;
  height: 786px;
  background: url(../data/offer-1.png);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
}

.banner-combine {
  background: url(../data/offer-2.png);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
}

.banner-uav {
  background: url(../data/offer-3.png);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
}

.banner-uav .h1 {
  font-size: 42px;
  line-height: 50px;
}

.banner-uav .h1-footnote {
  color: #fff;
  background: -webkit-linear-gradient(186.67deg, #147DDD 0%, #0E469B 100%);
  background: -o-linear-gradient(186.67deg, #147DDD 0%, #0E469B 100%);
  background: linear-gradient(263.33deg, #147DDD 0%, #0E469B 100%);
}

.banner-uav .h1-footnote::before {
  border-top: 10px solid #0E469B;
  border-left: 10px solid #0E469B;
}

.banner .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
}

.banner .h1 {
  margin-bottom: 40px;
}

.banner > img {
  display: block;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.banner-overlay__text {
  padding-bottom: 340px;
}

.banner-scroll {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  margin: 0 auto;
  font-size: 12px;
  line-height: 14px;
  color: #184487;
  text-align: center;
}

.banner-scroll span {
  display: block;
  margin-bottom: 8px;
}

.scroll-icon {
  display: inline-block;
  width: 26px;
  height: 26px;
  background: url(../img/down.svg);
}

@-webkit-keyframes sheen {
  100% {
    right: 100%;
    opacity: 0;
  }
}

@keyframes sheen {
  100% {
    right: 100%;
    opacity: 0;
  }
}

.btn {
  position: relative;
  display: inline-block;
  padding: 20px 55px;
  font-family: Akrobat;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
  background: -webkit-linear-gradient(193.24deg, #F2BF09 0%, #EBA215 100%);
  background: -o-linear-gradient(193.24deg, #F2BF09 0%, #EBA215 100%);
  background: linear-gradient(256.76deg, #F2BF09 0%, #EBA215 100%);
  -webkit-box-shadow: 0px 4px 0px #CE8E0F, inset 0px 0px 10px rgba(255, 255, 255, 0.4);
          box-shadow: 0px 4px 0px #CE8E0F, inset 0px 0px 10px rgba(255, 255, 255, 0.4);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border: none;
  outline: none;
}

.btn:hover, .btn:focus {
  opacity: 1;
  background: -webkit-linear-gradient(193.24deg, #F2BF09 0%, #EBA215 100%);
  background: -o-linear-gradient(193.24deg, #F2BF09 0%, #EBA215 100%);
  background: linear-gradient(256.76deg, #F2BF09 0%, #EBA215 100%);
  -webkit-box-shadow: 0px 4px 0px #CE8E0F, inset 0px 0px 50px rgba(255, 255, 255, 0.8);
          box-shadow: 0px 4px 0px #CE8E0F, inset 0px 0px 50px rgba(255, 255, 255, 0.8);
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

.btn:hover::before, .btn:focus::before {
  -webkit-animation: sheen .5s forwards;
          animation: sheen .5s forwards;
}

.btn:active {
  background: -webkit-linear-gradient(193.24deg, #F2BF09 0%, #EBA215 100%);
  background: -o-linear-gradient(193.24deg, #F2BF09 0%, #EBA215 100%);
  background: linear-gradient(256.76deg, #F2BF09 0%, #EBA215 100%);
  -webkit-box-shadow: 0px 2px 0px #CE8E0F, inset 0px 0px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 0px #CE8E0F, inset 0px 0px 15px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

.btn::before {
  content: '';
  right: 27px;
  top: 0;
  position: absolute;
  -webkit-transform: skewX(-18deg);
      -ms-transform: skewX(-18deg);
          transform: skewX(-18deg);
  width: 60px;
  height: 64px;
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(right, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
}

.btn-transparent {
  border: 1px solid #B4720F;
  background: #fff;
  color: #B4720F;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-transparent:hover, .btn-transparent:focus {
  opacity: 1;
  background: #FFF5E7;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-transparent:active {
  -webkit-box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.btn-transparent::before {
  display: none;
}

.btn-blue {
  color: #fff;
  background: -webkit-linear-gradient(193.24deg, #147DDD 0%, #0E469B 100%);
  background: -o-linear-gradient(193.24deg, #147DDD 0%, #0E469B 100%);
  background: linear-gradient(256.76deg, #147DDD 0%, #0E469B 100%);
  -webkit-box-shadow: 0px 4px 0px #184487, inset 0px 0px 10px rgba(255, 255, 255, 0.4);
          box-shadow: 0px 4px 0px #184487, inset 0px 0px 10px rgba(255, 255, 255, 0.4);
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
}

.btn-blue:hover, .btn-blue:focus {
  color: #fff;
  background: -webkit-linear-gradient(193.24deg, #147DDD 0%, #0E469B 100%);
  background: -o-linear-gradient(193.24deg, #147DDD 0%, #0E469B 100%);
  background: linear-gradient(256.76deg, #147DDD 0%, #0E469B 100%);
  -webkit-box-shadow: 0px 4px 0px #184487, inset 0px 0px 50px rgba(255, 255, 255, 0.8);
          box-shadow: 0px 4px 0px #184487, inset 0px 0px 50px rgba(255, 255, 255, 0.8);
}

.btn-blue:active {
  background: -webkit-linear-gradient(193.24deg, #147DDD 0%, #0E469B 100%);
  background: -o-linear-gradient(193.24deg, #147DDD 0%, #0E469B 100%);
  background: linear-gradient(256.76deg, #147DDD 0%, #0E469B 100%);
  -webkit-box-shadow: 0px 2px 0px #184487, inset 0px 0px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 0px #184487, inset 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.btn-blue::before {
  right: 120px;
}

.section {
  padding: 0 0 150px;
}

.section .h2 {
  margin-bottom: 50px;
  text-align: center;
}

.section-slider {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 30px;
}

.section-slider__btn {
  text-align: center;
}

.section-slider__btn .btn {
  max-width: 370px;
  width: 100%;
}

.section-slider__item {
  margin-left: 15px;
  margin-right: 15px;
}

.section-slider__item--img {
  display: block;
  margin-bottom: 20px;
}

.section-slider__item--img img {
  width: 100%;
}

.section-slider .slick-arrow {
  width: 60px;
  height: 60px;
  background: -webkit-linear-gradient(183.17deg, #F2BF09 0%, #EBA215 100%);
  background: -o-linear-gradient(183.17deg, #F2BF09 0%, #EBA215 100%);
  background: linear-gradient(266.83deg, #F2BF09 0%, #EBA215 100%);
  -webkit-box-shadow: 0px 4px 0px #CE8E0F, inset 0px 0px 10px rgba(255, 255, 255, 0.4);
          box-shadow: 0px 4px 0px #CE8E0F, inset 0px 0px 10px rgba(255, 255, 255, 0.4);
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

.section-slider .slick-next {
  right: -65px;
}

.section-slider .slick-next::before {
  content: '';
  position: absolute;
  left: 24px;
  top: 24px;
  width: 11px;
  height: 16px;
  background: url(../img/next-ic.svg);
}

.section-slider .slick-prev {
  left: -65px;
}

.section-slider .slick-prev::before {
  content: '';
  position: absolute;
  left: 24px;
  top: 24px;
  width: 11px;
  height: 16px;
  background: url(../img/prev-ic.svg);
}

.section-slider__blue .slick-arrow {
  background: -webkit-linear-gradient(183.17deg, #147DDD 0%, #0E469B 100%);
  background: -o-linear-gradient(183.17deg, #147DDD 0%, #0E469B 100%);
  background: linear-gradient(266.83deg, #147DDD 0%, #0E469B 100%);
  -webkit-box-shadow: 0px 4px 0px #184487, inset 0px 0px 10px rgba(255, 255, 255, 0.4);
          box-shadow: 0px 4px 0px #184487, inset 0px 0px 10px rgba(255, 255, 255, 0.4);
}

.section-slider__blue .slick-next::before {
  background: url(../img/next-ic-w.svg);
}

.section-slider__blue .slick-prev::before {
  background: url(../img/prev-ic-w.svg);
}

.color-gold {
  color: #B4720F;
}

.video {
  background: url(../img/wheat.png) no-repeat left top;
}

.video-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.video-item {
  width: 48%;
  padding: 40px;
  background: #F2F2F2;
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.video-item__uav {
  padding: 0;
  background: #fff;
}

.video-item__video {
  position: relative;
  margin-bottom: 30px;
}

.video-item__video img {
  display: block;
}

.video-item .h3 {
  margin-bottom: 26px;
}

.video-item p {
  margin-bottom: 26px;
  color: #4D4D4D;
}

.video-play {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.video-play:hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.play-icon {
  width: 60px;
  height: 60px;
  background: url(../img/play-ic.png);
}

.step-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.step-wrap::before {
  content: '';
  position: absolute;
  right: -200px;
  top: -135px;
  width: 404px;
  height: 425px;
  background: url(../img/spikelets-1.png);
}

.step-item {
  width: 25%;
  height: 220px;
  border: 1px solid #E6E6E6;
}

.step-item__number {
  margin-bottom: 15px;
  font-family: Akrobat;
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 68px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #E6E6E6;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.step-item span {
  display: block;
  margin-bottom: 35px;
  font-family: Akrobat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.01em;
}

.step-item .btn {
  opacity: 0;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
}

.step-item .btn::before {
  display: none;
}

.step-item .btn:hover, .step-item .btn:focus {
  background: rgba(255, 255, 255, 0.3);
}

.step-item__wrap {
  padding: 20px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.step-item:hover .step-item__wrap {
  position: relative;
  background: -webkit-linear-gradient(183.02deg, #F2BF09 0%, #EBA215 100%);
  background: -o-linear-gradient(183.02deg, #F2BF09 0%, #EBA215 100%);
  background: linear-gradient(266.98deg, #F2BF09 0%, #EBA215 100%);
  -webkit-box-shadow: 0px 4px 0px #CE8E0F, inset 0px 0px 10px rgba(255, 255, 255, 0.4);
          box-shadow: 0px 4px 0px #CE8E0F, inset 0px 0px 10px rgba(255, 255, 255, 0.4);
}

.step-item:hover .step-item__number {
  color: #fff;
}

.step-item:hover .btn {
  opacity: 1;
}

.step-blue .step-wrap::before {
  display: none;
}

.step-blue .step-item {
  height: 260px;
}

.step-blue .step-item .btn {
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
}

.step-blue .step-item:hover .step-item__wrap {
  min-height: 260px;
  background: -webkit-linear-gradient(183.02deg, #147DDD 0%, #0E469B 100%);
  background: -o-linear-gradient(183.02deg, #147DDD 0%, #0E469B 100%);
  background: linear-gradient(266.98deg, #147DDD 0%, #0E469B 100%);
  -webkit-box-shadow: 0px 4px 0px #184487, inset 0px 0px 10px rgba(255, 255, 255, 0.4);
          box-shadow: 0px 4px 0px #184487, inset 0px 0px 10px rgba(255, 255, 255, 0.4);
}

.step-blue .step-item:hover .step-item__wrap span {
  color: #fff;
}

.step-blue__bg .step-wrap::before {
  content: '';
  display: block;
  position: absolute;
  right: -200px;
  top: -135px;
  width: 404px;
  height: 425px;
  background: url(../img/spikelets-1.png);
}

.request {
  position: relative;
  max-width: 1920px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 200px;
}

.request > img {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -120px;
}

.request-item {
  position: relative;
  width: 50%;
  min-height: 600px;
}

.request-item img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.request-item__overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.request-form {
  max-width: 370px;
  margin-right: 100px;
}

.request-form__field {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 858px;
}

.request-form .form-item__label {
  color: #fff;
}

.request-form .h2 {
  color: #fff;
}

.request-form .h5 {
  margin-bottom: 24px;
  color: #fff;
}

.request-form .form-field {
  border: 1px solid #EBEBEB;
  color: #fff;
}

.request-form .form-field:focus {
  border-color: #fff;
}

.request-form .btn {
  width: 100%;
}

.request-form .form-check input[type="checkbox"] + label {
  color: #fff;
}

.request-form .form-check input[type="checkbox"] + label::before {
  border: 1px solid #fff;
  background-color: transparent;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
}

.request-form *::-webkit-input-placeholder {
  color: #fff;
}

.request-form *:-moz-placeholder {
  color: #fff;
}

.request-form *::-moz-placeholder {
  color: #fff;
}

.request-form *:-ms-input-placeholder {
  color: #fff;
}

.request-two {
  display: block;
  background: url(../img/request-bg.png) no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

.request-two .request-form {
  margin-right: 0;
  max-width: none;
}

.request-two .request-form .form-item {
  width: 270px;
  margin-bottom: 0;
}

.request-two .request-form .btn {
  position: relative;
  width: 270px;
  z-index: 1;
}

.request-two .request-form .form-check {
  margin: 24px 0 0;
}

.request-two .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  min-height: 424px;
}

.request-wrap {
  position: relative;
}

.request-wrap::before {
  content: '';
  position: absolute;
  left: 77%;
  top: -30px;
  width: 739px;
  height: 460px;
  background: url(../img/combine-2.png) no-repeat;
}

.request-uav .request-wrap::before {
  content: '';
  position: absolute;
  left: 65%;
  top: -200px;
  width: 980px;
  height: 600px;
  background: url(../img/aircraft-2.jpg) no-repeat;
}

.form-item {
  position: relative;
  margin-bottom: 24px;
}

.form-item__label {
  position: absolute;
  left: 15px;
  top: 20px;
  font-size: 16px;
  cursor: text;
  -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: translate(0, 0) scale(1);
      -ms-transform: translate(0, 0) scale(1);
          transform: translate(0, 0) scale(1);
  -webkit-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.form-item.active label {
  font-size: 10px;
  -webkit-transform: translate(0, -18px);
      -ms-transform: translate(0, -18px);
          transform: translate(0, -18px);
}

.form-field {
  position: relative;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  line-height: 60px;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid #CCCCCC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

.form-field:hover {
  opacity: 1;
  border: 1px solid #999999;
}

.form-field:focus {
  opacity: 1;
  border: 1px solid #147DDD;
  outline: none;
}

.form-check {
  margin: 30px 0 0;
}

.form-check input[type="checkbox"] {
  display: none;
}

.form-check input[type="checkbox"] + label {
  position: relative;
  display: block;
  padding: 0 0 0 50px;
  cursor: pointer;
  font-size: 14px;
  line-height: 18px;
}

.form-check input[type="checkbox"] + label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 3px;
  width: 30px;
  height: 30px;
  background: #B4720F;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

.form-check input[type="checkbox"]:checked + label::before {
  background-image: url(../img/check-ic.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.footer {
  padding: 80px 0 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#F2F9FC), to(#F5F7F7));
  background: -webkit-linear-gradient(top, #F2F9FC 0%, #F5F7F7 100%);
  background: -o-linear-gradient(top, #F2F9FC 0%, #F5F7F7 100%);
  background: linear-gradient(180deg, #F2F9FC 0%, #F5F7F7 100%);
}

.footer-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 60px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-top__left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.footer-top__left .footer-links ul {
  display: block;
}

.footer-top__left .footer-links ul li {
  width: auto;
}

.footer-contacts {
  padding-right: 60px;
}

.footer-tel {
  display: inline-block;
  margin-bottom: 30px;
  font-family: Akrobat;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
}

.footer-time {
  position: relative;
  margin-bottom: 30px;
  padding-left: 25px;
}

.footer-time strong {
  display: block;
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 16px;
}

.footer-time span {
  font-size: 14px;
  line-height: 16px;
  color: #4D4D4D;
}

.footer-time::before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 16px;
  height: 16px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 1px solid #228909;
}

.footer-time::after {
  content: '';
  position: absolute;
  left: 5px;
  top: 7px;
  width: 8px;
  height: 8px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #228909;
}

.footer-address {
  position: relative;
  padding: 0 0 0 25px;
  margin-bottom: 20px;
}

.footer-address:last-child {
  margin-right: 0;
}

.footer-address::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 12px;
  height: 18.5px;
  background: url(../img/marker-ic.svg);
}

.footer-address strong {
  display: block;
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 16px;
}

.footer-address span {
  font-size: 14px;
  line-height: 16px;
  color: #666;
}

.footer-mail {
  position: relative;
  display: inline-block;
  margin-bottom: 30px;
  padding-left: 24px;
  font-size: 14px;
  line-height: 19px;
}

.footer-mail > span {
  border-bottom: 1px dashed;
}

.footer-mail::before {
  content: '';
  position: absolute;
  left: 0;
  top: 4px;
  width: 18px;
  height: 14px;
  background: url(../img/mail-ic.svg);
}

.footer-code {
  list-style: none;
}

.footer-code li {
  font-size: 14px;
  line-height: 20px;
}

.footer-links .h4 {
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
}

.footer-links ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  list-style: none;
  max-width: 570px;
}

.footer-links ul li {
  width: 50%;
  margin-bottom: 20px;
}

.footer-links ul li:last-child {
  margin-bottom: 0;
}

.footer-links ul li a {
  font-size: 14px;
  line-height: 20px;
  color: #414141;
}

.footer-bottom {
  border-top: 1px solid #E6E6E6;
  font-size: 14px;
}

.footer-bottom__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24px 0;
}

.footer-bottom__left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.footer-copy {
  padding-right: 60px;
}

.footer-dev span {
  padding-right: 10px;
}

.footer-dev > a {
  display: inline-block;
  vertical-align: middle;
}

.modal {
  max-width: 940px;
  padding: 0;
  display: none;
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.modal-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.modal-wrap img {
  -webkit-border-radius: 8px 0 0 8px;
          border-radius: 8px 0 0 8px;
}

.modal-body {
  position: relative;
  padding: 70px 90px 70px 43px;
  background: #fff;
  -webkit-border-radius: 0 8px 8px 0;
          border-radius: 0 8px 8px 0;
}

.modal-body::before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 199px;
  height: 168px;
  background: url(../img/spikelets-3.png) no-repeat;
}

.modal-form {
  margin-top: 30px;
}

.modal .fancybox-button {
  background: #F3F3F3;
  -webkit-border-radius: 0px 8px;
          border-radius: 0px 8px;
}

.modal .btn {
  position: relative;
  width: 100%;
  z-index: 10;
}

.modal-combine .modal-body::before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 225px;
  height: 173px;
  background: url(../img/combine-3.png) no-repeat;
}

.modal-uav .modal-body::before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 190px;
  height: 200px;
  background: url(../img/aircraft-3.jpg) no-repeat;
}

.h1 {
  position: relative;
}

.h1-footnote {
  position: absolute;
  bottom: -webkit-calc(100% + 10px);
  bottom: calc(100% + 10px);
  left: 0;
  padding: 5px 10px;
  font-size: 28px;
  line-height: 34px;
  background: -webkit-linear-gradient(187.17deg, #F2BF09 0%, #EBA215 100%);
  background: -o-linear-gradient(187.17deg, #F2BF09 0%, #EBA215 100%);
  background: linear-gradient(262.83deg, #F2BF09 0%, #EBA215 100%);
  -webkit-border-radius: 4px 4px 4px 0px;
          border-radius: 4px 4px 4px 0px;
}

.h1-footnote::before {
  content: '';
  position: absolute;
  left: 0;
  top: 100%;
  border: 10px solid transparent;
  border-top: 10px solid #F2BF09;
  border-left: 10px solid #F2BF09;
}

.video-review {
  position: relative;
  padding-bottom: 100px;
}

.video-review .h2 {
  margin-bottom: 25px;
}

.video-review .h5 {
  margin-bottom: 50px;
  text-align: center;
}

.video-review .video-item__video {
  margin-bottom: 0;
}

.video-review .play-icon {
  width: 150px;
  height: 150px;
  background: url(../img/play-big-ic.png);
}

.video-review::before {
  content: '';
  position: absolute;
  right: 0;
  top: -150px;
  width: 435px;
  height: 321px;
  background: url(../img/spikelets-4.png) no-repeat;
}

.characteristics {
  background: url(../img/combine.png) no-repeat left -50px;
}

.characteristics-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  background: -webkit-gradient(linear, left top, left bottom, from(#DAF3FF), color-stop(0.01%, #FCFCFC), to(#D8E4EB));
  background: -webkit-linear-gradient(top, #DAF3FF 0%, #FCFCFC 0.01%, #D8E4EB 100%);
  background: -o-linear-gradient(top, #DAF3FF 0%, #FCFCFC 0.01%, #D8E4EB 100%);
  background: linear-gradient(180deg, #DAF3FF 0%, #FCFCFC 0.01%, #D8E4EB 100%);
  -webkit-box-shadow: inset 0px 0px 50px rgba(171, 209, 228, 0.25);
          box-shadow: inset 0px 0px 50px rgba(171, 209, 228, 0.25);
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.characteristics-wrap::before {
  content: '';
  position: absolute;
  top: -100px;
  right: 0;
  width: 229px;
  height: 155px;
  background: url(../img/spikelets-5.png) no-repeat;
}

.characteristics-item {
  padding: 50px 37px;
  border-left: 1px solid rgba(128, 128, 128, 0.5);
  -webkit-box-shadow: 1px 0px 0px rgba(255, 255, 255, 0.5);
          box-shadow: 1px 0px 0px rgba(255, 255, 255, 0.5);
}

.characteristics-item:first-child {
  border: none;
}

.characteristics-item strong {
  display: block;
  margin-bottom: 5px;
  font-family: Akrobat;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.01em;
  color: #000000;
}

.characteristics-item span {
  font-size: 14px;
  line-height: 20px;
  color: #262626;
}

.characteristics-item span.color-grey {
  font-size: 12px;
  line-height: 14px;
  color: #737373;
}

.features-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.features-wrap::before {
  content: '';
  position: absolute;
  top: -100px;
  left: -270px;
  width: 404px;
  height: 425px;
  background: url(../img/spikelets-6.png) no-repeat;
}

.features-wrap:last-of-type::before {
  display: none;
}

.features-item {
  width: 50%;
  height: 340px;
  border: 1px solid #E6E6E6;
}

.features-item__wrap {
  padding: 40px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.features-item__wrap .h5 {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.features-item__wrap p {
  max-width: 470px;
  color: #4D4D4D;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.features-item__wrap .btn {
  position: relative;
  width: 100%;
  visibility: hidden;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.features-item__wrap .btn::before {
  display: none;
}

.features-item__wrap .btn:hover {
  background: -webkit-linear-gradient(193.24deg, #147DDD 0%, #0E469B 100%);
  background: -o-linear-gradient(193.24deg, #147DDD 0%, #0E469B 100%);
  background: linear-gradient(256.76deg, #147DDD 0%, #0E469B 100%);
  -webkit-box-shadow: 0px 4px 0px #184487, inset 0px 0px 50px rgba(255, 255, 255, 0.8);
          box-shadow: 0px 4px 0px #184487, inset 0px 0px 50px rgba(255, 255, 255, 0.8);
}

.features-item:hover .features-item__wrap {
  position: relative;
  min-height: 100%;
  background: -webkit-linear-gradient(183.97deg, #147DDD 0%, #0E469B 100%);
  background: -o-linear-gradient(183.97deg, #147DDD 0%, #0E469B 100%);
  background: linear-gradient(266.03deg, #147DDD 0%, #0E469B 100%);
  -webkit-box-shadow: 0px 4px 0px #184487, inset 0px 0px 10px rgba(255, 255, 255, 0.4);
          box-shadow: 0px 4px 0px #184487, inset 0px 0px 10px rgba(255, 255, 255, 0.4);
  color: #fff;
  z-index: 10;
}

.features-item:hover .h5, .features-item:hover p {
  color: #fff;
}

.features-item:hover p {
  margin-bottom: 35px;
}

.features-item:hover .btn {
  visibility: visible;
  z-index: 1;
}

.uav {
  position: relative;
  background: url(../img/aircraft.png) no-repeat left bottom;
}

.uav::before {
  content: '';
  position: absolute;
  right: 0;
  top: -100px;
  width: 322px;
  height: 528px;
  background: url(../img/satellite.png);
}

.uav .h2 {
  margin-bottom: 25px;
}

.uav .h5 {
  margin-bottom: 50px;
  text-align: center;
}

.uav .h3 {
  margin-bottom: 50px;
  text-align: center;
}

.uav-slider {
  max-width: 970px;
  margin: 0 auto 20px;
}

.uav-slider .slick-arrow {
  width: 60px;
  height: 60px;
  background: -webkit-linear-gradient(183.17deg, #F2BF09 0%, #EBA215 100%);
  background: -o-linear-gradient(183.17deg, #F2BF09 0%, #EBA215 100%);
  background: linear-gradient(266.83deg, #F2BF09 0%, #EBA215 100%);
  -webkit-box-shadow: 0px 4px 0px #CE8E0F, inset 0px 0px 10px rgba(255, 255, 255, 0.4);
          box-shadow: 0px 4px 0px #CE8E0F, inset 0px 0px 10px rgba(255, 255, 255, 0.4);
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

.uav-slider .slick-next {
  right: -90px;
}

.uav-slider .slick-next::before {
  content: '';
  position: absolute;
  left: 24px;
  top: 24px;
  width: 11px;
  height: 16px;
  background: url(../img/next-ic.svg);
}

.uav-slider .slick-prev {
  left: -90px;
}

.uav-slider .slick-prev::before {
  content: '';
  position: absolute;
  left: 24px;
  top: 24px;
  width: 11px;
  height: 16px;
  background: url(../img/prev-ic.svg);
}

.uav-slider__item img {
  margin: 0 auto 20px;
}

.uav-slider__item span {
  display: block;
  text-align: center;
}

.uav-btn {
  text-align: center;
}

.slick-slide {
  outline: none;
}

.icon-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.icon-block__item {
  width: 33%;
}

.icon-block__item img {
  display: block;
  margin: 0 auto 20px;
}

.icon-block__item span {
  display: block;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #4D4D4D;
}

.burger-menu {
  display: none;
  background: transparent;
  width: 30px;
  border: none;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}

.burger-menu:focus {
  outline: none;
  opacity: 1;
}

.burger-menu span {
  position: relative;
  width: 100%;
  display: block;
  height: 2px;
  margin-bottom: 6px;
  background: #000;
  -webkit-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.burger-menu > span:last-child {
  margin-bottom: 0;
}

.burger-menu.active span:nth-of-type(1) {
  top: 8px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger-menu.active span:nth-of-type(2) {
  background-color: transparent;
}

.burger-menu.active span:nth-of-type(3) {
  top: -8px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media only screen and (max-width: 1919px) {
  .content {
    overflow: hidden;
  }
}

@media only screen and (max-width: 1365px) {
  .section-slider, .uav-slider {
    max-width: -webkit-calc(100% - 100px);
    max-width: calc(100% - 100px);
    margin: 0 auto 30px;
  }
  .section-slider .slick-arrow, .uav-slider .slick-arrow {
    width: 40px;
    height: 40px;
  }
  .section-slider .slick-arrow::before, .uav-slider .slick-arrow::before {
    left: 15px;
    top: 14px;
  }
  .section-slider .slick-prev, .uav-slider .slick-prev {
    left: -45px;
  }
  .section-slider .slick-next, .uav-slider .slick-next {
    right: -45px;
  }
  .header-contacts__item {
    margin-right: 25px;
  }
  .header-contacts__item span {
    font-size: 12px;
  }
  .banner {
    height: 650px;
  }
  .banner-combine {
    height: 700px;
  }
  .banner-uav {
    height: 700px;
  }
  h1, .h1 {
    font-size: 50px;
    line-height: 60px;
  }
  .section {
    padding: 0 0 100px;
  }
  .step-item {
    width: 33.3333%;
  }
  .footer-links ul {
    max-width: 420px;
  }
  .characteristics-item {
    width: 20%;
  }
  .uav::before {
    display: none;
  }
  .request-uav .request-wrap::before {
    display: none;
  }
  .request.request-two.request-uav {
    padding: 50px 0;
  }
}

@media only screen and (max-width: 991px) {
  .burger-menu {
    display: block;
  }
  .header .header-contacts {
    display: none;
  }
  .mm-spn li.mobile-menu__contacts {
    padding: 0 20px;
  }
  .mm-spn li.mobile-menu__contacts::before {
    display: none;
  }
  .mm-spn li.mobile-menu__contacts .header-contacts {
    display: block;
  }
  .mm-spn li.mobile-menu__contacts .header-contacts__item {
    margin-bottom: 20px;
  }
  .mm-spn.mm-spn--navbar ul:before {
    display: none;
  }
  .header-contacts__item span {
    padding: 0;
  }
  .mm-spn.mm-spn--navbar.mm-spn--main:after {
    display: none;
  }
  .header-tel {
    text-align: center;
  }
  .banner {
    height: 620px;
  }
  h1, .h1 {
    font-size: 40px;
    line-height: 50px;
  }
  .step-item {
    width: 50%;
  }
  .request {
    margin-bottom: 100px;
  }
  .request-item {
    width: 100%;
  }
  .request-item__img {
    display: none;
  }
  .request-item__overlay {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .request-item__overlay .request-form {
    margin: 0;
  }
  .request > img {
    display: none;
  }
  .footer {
    padding: 50px 0 0;
  }
  .footer-top {
    display: block;
    padding-bottom: 0;
  }
  .footer-top__left {
    display: block;
  }
  .footer-contacts {
    padding: 0 0 30px;
  }
  .footer-links {
    margin-bottom: 20px;
    border: 1px solid #B4720F;
  }
  .footer-links .h4 {
    position: relative;
    padding: 11px 15px 12px;
    margin: 0;
  }
  .footer-links .h4::before {
    content: '';
    position: absolute;
    right: 15px;
    top: 20px;
    border: 10px solid transparent;
    border-top: 10px solid #B4720F;
  }
  .footer-links ul {
    display: none;
    padding: 0 20px 20px;
  }
  .footer-links ul li {
    margin-bottom: 10px;
    width: auto;
  }
  .footer-top__left .footer-links ul {
    display: none;
  }
  .modal-wrap img {
    display: none;
  }
  .modal-body {
    padding: 30px;
  }
  .modal-body::before {
    display: none;
  }
  h5, .h5 {
    font-size: 14px;
  }
  .modal .form-check input[type="checkbox"] + label {
    font-size: 12px;
    line-height: 16px;
  }
  .characteristics-item {
    width: 50%;
    border: none;
  }
  .characteristics-wrap::before {
    display: none;
  }
  .request-form__field {
    display: block;
  }
  .request-two .container {
    min-height: 480px;
  }
  .request-two .request-form {
    max-width: 270px;
    margin: 0 auto;
  }
  .request-two .request-form .form-field {
    display: block;
    margin-bottom: 15px;
  }
  .features-wrap::before {
    display: none;
  }
  .video-review::before {
    display: none;
  }
  .features-item {
    width: 100%;
  }
  .step-blue__bg .step-wrap::before {
    display: none;
  }
  .banner-combine {
    height: 700px;
  }
  .banner-uav {
    height: 700px;
  }
}

@media only screen and (max-width: 768px) {
  .header-logo {
    max-width: 120px;
  }
  .banner {
    padding: 30px 0;
    margin-bottom: 50px;
    height: auto;
    background: #F2F2F2;
    text-align: center;
  }
  .banner-combine {
    padding-top: 60px;
  }
  .banner-overlay {
    position: static;
  }
  .banner-overlay__text {
    padding-bottom: 0;
  }
  .banner-scroll {
    display: none;
  }
  .banner .h1 {
    margin-bottom: 25px;
  }
  .banner .container {
    display: block;
  }
  .btn {
    padding: 15px 30px;
    font-size: 18px;
    line-height: 22px;
  }
  .btn::before {
    height: 53px;
  }
  h2, .h2 {
    font-size: 34px;
    line-height: 42px;
  }
  .section {
    padding: 0 0 50px;
  }
  .section .h2 {
    margin-bottom: 30px;
  }
  .video {
    background: transparent;
  }
  .video-item {
    padding: 20px;
  }
  .step-wrap::before {
    display: none;
  }
  .footer-bottom__wrap {
    display: block;
    text-align: center;
  }
  .footer-bottom__left {
    display: block;
  }
  .footer-copy {
    display: block;
    padding: 0;
  }
  .footer-privacy {
    display: inline-block;
    padding: 5px 0;
  }
  .h1-footnote {
    font-size: 20px;
  }
  .features-item__wrap {
    padding: 20px;
  }
  .features-item {
    height: auto;
  }
  .video-review .play-icon {
    width: 60px;
    height: 60px;
    -webkit-background-size: cover;
            background-size: cover;
  }
  .icon-block {
    display: block;
  }
  .icon-block__item {
    max-width: 290px;
    width: auto;
    margin: 0 auto 30px;
  }
  .banner-uav {
    padding-top: 60px;
  }
  .banner-uav .h1 {
    font-size: 34px;
    line-height: 40px;
  }
  .request-two .request-form .form-field {
    width: 100%;
  }
  .request-form__field {
    width: auto;
  }
  .request-two .container {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 479px) {
  .video-wrap {
    display: block;
  }
  .video-item {
    width: 100%;
    margin-bottom: 20px;
  }
  .header {
    padding: 5px 0;
  }
  .header-logo {
    max-width: 100px;
  }
  .header-tel__number {
    font-size: 16px;
    line-height: 22px;
  }
  .header-tel__callback {
    font-size: 12px;
    line-height: 18px;
  }
  h1, .h1 {
    font-size: 36px;
    line-height: 42px;
  }
  h2, .h2 {
    font-size: 28px;
    line-height: 34px;
  }
  .section-slider {
    max-width: -webkit-calc(100% - 40px);
    max-width: calc(100% - 40px);
  }
  .section-slider .slick-next {
    right: -30px;
  }
  .section-slider .slick-prev {
    left: -30px;
  }
  .slick-next {
    right: -30px;
  }
  .slick-prev {
    left: -30px;
  }
  .uav-slider {
    max-width: -webkit-calc(100% - 60px);
    max-width: calc(100% - 60px);
  }
  .section-slider__item--img {
    margin-bottom: 5px;
  }
  .video-item__video {
    margin-bottom: 15px;
  }
  .video-item .h3 {
    margin-bottom: 15px;
  }
  .video-item p {
    margin-bottom: 14px;
  }
  p {
    font-size: 14px;
    line-height: 22px;
  }
  .step-item__wrap {
    padding: 15px;
  }
  .step-item__number {
    font-size: 40px;
    line-height: 30px;
  }
  .step-item span {
    font-size: 14px;
    line-height: 18px;
  }
  .step-item .btn {
    padding: 2px 8px;
    font-size: 12px;
  }
  .request-item {
    min-height: 460px;
  }
  .request-item .request-form {
    max-width: none;
    padding: 0 15px;
  }
  .request {
    margin-bottom: 50px;
  }
  .characteristics-item {
    padding: 15px;
  }
  .characteristics-item strong {
    font-size: 18px;
  }
  .characteristics-item span {
    font-size: 12px;
    line-height: 14px;
  }
  .characteristics-item span.color-grey {
    font-size: 10px;
  }
  .banner-uav .h1 {
    font-size: 26px;
    line-height: 34px;
  }
  .icon-block__item span {
    font-size: 12px;
    line-height: 20px;
  }
  .uav-slider__item span {
    font-size: 12px;
  }
  .uav-slider__item img {
    margin: 0 auto 10px;
  }
  .header-fixed + .content {
    padding-top: 50px;
  }
}
