@import "vars"
@import "fonts"
@import "base"
// 2 - END of Tags styles and General styles ----------------------------------------------------------
// 3 - BEGIN of header ----------------------------------------------------------



.header

	&-top
		display: flex
		justify-content: space-between
		align-items: center
		padding: 12px 0 30px

		&__rigth
			display: flex
			align-items: flex-end

			&--wrap
				margin-left: 15px
				text-align: right

		&__login
			a
				display: inline-block
				margin-left: 15px
				font-size: 12px
				color: $main

		&__tel
			font-size: 28px
			color: $main



	&-cart
		position: relative
		padding: 0 0 0 60px
		display: block

		&:before
			content: ''
			position: absolute
			left: 0
			top: 5px
			width: 44px
			height: 41px
			background: url(../img/cart-ic.png)

		&__title
			font-size: 24px
			color: #49463f

		&__count
			display: flex
			color: #8e7b66
			font-size: 18px

			&--product
				position: relative
				padding-right: 10px
				margin-right: 10px

				&:before
					content: ''
					position: absolute
					right: 0
					bottom: 4px
					width: 1px
					height: 10px
					background: #8e7b66




	

.btn
	position: relative
	display: inline-block
	padding: 9px 10px
	font-size: 12px
	font-weight: bold
	color: #fff
	background: $main
	outline: none
	border: 0

	&:hover, &:focus
		opacity: 1
		background: #f35d3a
		color: #fff

	&-cart
		padding: 9px 45px 9px 15px 
		font-size: 18px
		font-weight: normal
		text-transform: uppercase

		&::before
			content: ''
			position: absolute
			right: 12px
			top: 7px
			width: 24px
			height: 22px
			background: url(../img/cart--white-ic.png)


.icon
	position: relative
	display: inline-block
	
	&:before
		content: ''
		display: block

	&-cart
		width: 44px
		height: 41px
		background: url(../img/cart-ic.png)

	&-phone
		width: 15px
		height: 17px
		background: url(../img/phone-ic.png)

	&-cart__white
		width: 24px
		height: 22px
		background: url(../img/cart--white-ic.png)
		

.call-btn
	position: relative
	display: inline-block
	padding: 10px 15px 10px 30px
	background: $main
	color: #fff

	&:before
		content: ''
		position: absolute
		left: 8px
		top: 9px
		width: 15px
		height: 17px
		background: url(../img/phone-ic.png)

	span
		border-bottom: 1px dashed

	&:hover, &:focus
		color: #fff

.nav
	display: flex
	justify-content: space-between
	align-items: center

.main-menu
	list-style: none

	li
		display: inline-block

		a
			display: block
			padding: 20px 12px
			font-size: 12px
			text-transform: uppercase
			font-weight: bold
			color: $main

			&:hover, &:focus
				opacity: 1
				background: #fcf2db

			&.active
				color: #fff
				background: $main


.search-form
	max-width: 450px
	width: 100%

	&__input
		width: calc(100% - 65px)
		min-height: 32px
		padding: 0 10px
		margin-right: -3px
		border: 1px solid #e5dcc9
		outline: none
		background: #fff

		&:hover, &:focus
			opacity: 1
			
	&__btn
		padding: 9px 10px
		font-size: 12px
		font-weight: bold
		color: #fff
		background: $main
		outline: none
		border: 0


.row-flex
	display: flex
	flex-wrap: wrap

.slick-slide
	outline: none

.slick-dots
	bottom: 0

	li
		width: 13px
		height: 13px

		button
			padding: 0
			width: 13px
			height: 13px
			border-radius: 50%
			background: #f9d582

			&:before
				content: ''

		&.slick-active
			button
				background: $main


.slick-arrow
	width: 40px
	height: 40px
	border: 3px solid #fff
	border-top: 0
	z-index: 10

	&:before
		content: ''

	&.slick-prev
		transform: rotate(45deg)
		border-right: 0
		left: 10px

	&.slick-next
		transform: rotate(-45deg)
		border-left: 0
		right: 10px










.banner
	margin-bottom: 50px
	min-height: 356px
	background: url(../img/banner-bg.png) no-repeat center
	background-size: cover

	&-slider

		&__item
			display: flex

		&__img
			display: flex
			align-items: center
			justify-content: center
			height: 100%


		&__product
			min-height: 356px
			padding: 30px 0 50px 30px

			.h1
				margin-bottom: 10px

			&--size
				font-size: 14px
				color: #7f6528

		&__price
			margin-top: 25px
			margin-bottom: 15px

			&--header
				margin-bottom: 5px
				color: #7f6528
				font-size: 18px

			&--wrap
				display: flex
				align-items: baseline

			&--current
				margin-right: 20px
				font-size: 30px
				color: #49463f

			&--old
				color: #7f6528
				font-size: 18px
				text-decoration: line-through



	&-btn
		position: relative
		padding: 10px 50px 10px 15px
		font-size: 18px
		font-weight: normal

		&:before
			content: ''
			position: absolute
			right: 12px
			top: 9px
			width: 24px
			height: 22px
			background: url(../img/cart--white-ic.png)


.section
	padding-bottom: 45px

	h2, .h2
		margin-bottom: 25px
		text-align: center

	&-inner
		padding-top: 45px

		h2, .h2
			text-align: left




.catalog

	.row
		margin-left: -3px
		margin-right: -3px

		[class^='col']
			padding-left: 3px
			padding-right: 3px

	&-item
		height: 210px
		padding: 18px
		margin-bottom: 6px
		background: #f6f3eb

		&__top
			display: flex
			flex-wrap: wrap
			align-items: center

		&__img
			display: flex
			align-items: center
			justify-content: center
			width: 45%
			height: 104px


		&__text
			padding: 0 0 0 14px
			width: 55%

			a
				font-size: 16px

		&__bottom
			margin-top: 14px
			padding-top: 15px
			border-top: 1px solid #e5dcc9

		&__tag
			list-style: none

			li
				position: relative
				display: inline-block
				padding-right: 10px
				margin-right: 6px
				margin-bottom: 6px

				&:before
					content: ''
					position: absolute
					right: 0
					top: 7px
					width: 3px
					height: 3px
					background: #7d6850

				&:last-child
					&:before
						display: none

				a
					font-size: 12px
					color: #808080
					border-bottom: 1px solid

					&:hover
						color: #f35d3a
						opacity: 1
						border: 0

	&-banner
		margin-bottom: 40px



.icon-block
	padding-top: 45px
	margin-bottom: 45px
	background: url(../img/icon-block-bg.jpg)

	&__item
		text-align: center

		img
			display: block
			margin: 0 auto 15px

		span
			font-size: 16px

.red-bg
	background: $main

.blue-bg
	background: #2583be

.product
	&-wrap
		&.row
			margin-left: -3px
			margin-right: -3px

			[class^='col']
				padding-left: 3px
				padding-right: 3px

	&-item
		margin-bottom: 6px
		border: 1px solid #e5dcc9
		transition: all .3s

		&:hover
			border-color: $main

			.product-item__view
				opacity: 1

		&__top
			position: relative
			height: 215px
			padding: 15px
			display: flex
			align-items: center
			justify-content: center

		&__img
			display: block

			img
				max-height: 100%

		&__tag
			position: absolute
			top: 15px
			left: 0
			padding: 3px 10px
			color: #fff

		&__like
			position: absolute
			top: 15px
			right: 15px
			padding: 0
			outline: none
			background-color: transparent
			border: none
			font-size: 16px

			.fa
				color: #e7e2d3

			&.active
				.fa
					color: #f5b82c

		&__middle
			padding: 0 0 12px
			margin: 0 20px
			border-bottom: 1px solid #e5dcc9

		&__name
			a
				color: #7d6850
				text-decoration: underline
				font-size: 16px

		&__info
			padding-top: 10px
			display: flex
			justify-content: space-between
			font-size: 12px
			color: #959595

		&__bottom
			height: 100px
			display: flex
			flex-direction: column
			justify-content: center
			padding: 0 20px

		&__price-rating
			display: flex
			justify-content: space-between
			align-items: center

		&__price
			display: flex

			&--current
				padding-right: 5px

			&--old
				color: #b6b6b6

				span
					text-decoration: line-through

		&__bye
			display: flex
			justify-content: space-between
			align-items: center
			padding-top: 15px

			&--left
				display: flex
				justify-content: space-between
				align-items: center

			&--click
				text-transform: uppercase
				color: $main
				font-weight: bold
				border-bottom: 1px dashed

		&__btn
			padding: 9px 10px 9px 30px

			&:before
				content: ''
				position: absolute
				left: 9px
				top: 10px
				width: 14px
				height: 13px
				background: url(../img/cart--white-ic.png) no-repeat
				background-size: contain


		&__view
			opacity: 0
			position: absolute
			top: 45%
			left: 0
			right: 0
			margin: auto
			max-width: 160px
			padding: 9px 10px 9px 25px
			font-size: 12px
			font-weight: bold
			color: #fff
			background: #f5b82a
			outline: none
			border: 0

			&:before
				content: ''
				position: absolute
				left: 7px
				top: 11px
				width: 11px
				height: 11px
				background: url(../img/zoom-ic.png)

			&:hover, &:focus
				opacity: 1
				background: #ffc94d
				color: #fff




	&-rating
		display: flex
		align-items: center

		&__block
			width: 69px
			height: 13px
			background: url('../img/star-grey.svg') repeat-x 0 0
			background-size: contain

		&__inner
			background: url('../img/star-gold.svg') repeat-x 0 0
			background-size: contain
			font-size: 1px
			height: 13px
			text-indent: -9999px

	&-all
		padding: 30px 0 35px
		border-bottom: 1px solid #e5dcc9

		&__link
			display: inline-block
			border-bottom: 1px solid

			&:hover
				border-color: transparent
				color: $main
				opacity: 1


	&-filter
		margin-bottom: 40px

		&__counter
			margin: 15px 0
			font-size: 16px

		&__clear
			display: inline-block
			color: #7d6850
			border-bottom: 1px dashed

		.h6
			margin-bottom: 5px

		&__item
			display: inline-block

			input[type="radio"]
				display: none

				&+label
					position: relative
					display: block
					padding: 6px 10px
					cursor: pointer
					font-size: 12px
					border: 1px solid #e5dcc9
					


				&:checked
					&+label
						background: $main
						border-color: $main
						color: #fff
	&-card
		margin-bottom: 45px

		&__info
			position: relative

			.product-item__like
				top: 5px
				right: 0

			.h2
				margin-bottom: 20px
				padding-right: 20px

			&--rating
				display: flex
				align-items: center
				margin-bottom: 15px

				span
					padding-right: 16px
					color: #959595

			.product-item__price
				margin-bottom: 20px
				font-size: 18px

			.product-item__bye
				padding: 0 0 20px
				border-bottom: 1px solid #e5dcc9
			
			.btn-cart
				margin-left: 15px


		&__slider
			border: 1px solid #e5dcc9
			margin-bottom: 25px

			&--item
				
				outline: none
				

			&--wrap
				display: flex
				align-items: center
				justify-content: center
				min-height: 300px
				

				img
					max-height: 100%

			&--tag
				position: absolute
				left: 0
				top: 20px
				padding: 2px 10px 3px
				font-size: 16px
				color: #fff

			&--nav
				padding-left: 20px
				padding-right: 20px
				margin-bottom: 20px

				.slick-slide
					display: flex
					align-items: center
					justify-content: center
					margin: 0 3px
					min-height: 92px
					border: 1px solid #e5dcc9
					cursor: pointer

					&:hover, &.slick-current
						border-color: $main
						transition: all .3s

					img
						max-height: 62px

				.slick-arrow
					width: 10px
					height: 10px
					border-color: $main

				.slick-prev
					left: 0

				.slick-next
					right: 0

	&-description
		margin-bottom: 15px
		.h3
			margin-bottom: 10px

		p
			margin-bottom: 15px

	&-specifications
		padding-top: 22px

		.h3
			margin-bottom: 20px

		&__table
			width: 100%

			tr
				&:first-child
					td
						border-top: 1px solid #e5dcc9
				td
					padding: 8px 0
					font-size: 11px
					border-bottom: 1px solid #e5dcc9

					&:last-child
						text-align: right
						padding-left: 5px

	

.plus-minus
	display: flex
	align-items: center
	justify-content: center


	&__btn
		outline: none
		border: none
		background-color: transparent
		padding: 0

		.fa
			color: $main
			font-size: 20px
			font-weight: bold

	input
		margin: 0 5px
		width: 38px
		height: 32px
		text-align: center
		font-size: 11px
		outline: none
		border: 1px solid #e5dcc9
		background-color: transparent

	&__items
		padding-left: 5px
		font-size: 11px
		color: #b6b6b6


.seo-text
	padding-bottom: 40px

.article

	h2
		margin-bottom: 20px
		font-size: 30px
		line-height: normal

	h3
		margin-bottom: 20px

	p
		margin-bottom: 15px

	ul
		margin-bottom: 20px
		padding-left: 56px

		li
			line-height: 24px


	a
		color: #7d6850
		border-bottom: 1px solid

		&:hover
			border-color: transparent
			color: $main
			opacity: 1


.news
	padding: 45px 0
	background: url(../img/icon-block-bg.jpg)

	&-item

		.h2, h2
			margin-bottom: 20px
			text-align: left

		&__date
			margin-bottom: 10px
			color: #979797

		&__header
			display: inline-block
			margin-bottom: 15px
			font-size: 16px
			color: #7d6850
			border-bottom: 1px solid

			&:hover
				border-color: transparent
				color: $main
				opacity: 1

		p
			margin-bottom: 15px


		&__more
			color: #7d6850
			border-bottom: 1px solid

			&:hover
				border-color: transparent
				color: $main
				opacity: 1

.footer
	padding: 45px 0 30px

	&-top
		display: flex
		justify-content: space-between
		padding-bottom: 30px
		border-bottom: 1px solid #e5dcc9

	&-logo
		display: inline-block
		margin-bottom: 20px

	&-copyright

		span
			display: block
			font-size: 20px

		p
			font-size: 16px
			line-height: 24px

	&-link

		.h4
			margin-bottom: 10px

		ul
			list-style: none

			li
				line-height: 30px

				a
					font-size: 16px
					color: #7d6850
					border-bottom: 1px solid

					&:hover
						color: $main
						border-color: transparent
						opacity: 1

	&-bottom
		display: flex
		align-items: center
		justify-content: space-between
		padding-top: 30px

	&-dev
		display: flex
		align-items: center
		font-size: 16px

		span
			padding-right: 10px

		a
			color: #7d6850
			border-bottom: 1px solid

			&:hover
				color: $main
				border-color: transparent
				opacity: 1


.soc-btn
	list-style: none

	li
		display: inline-block
		margin-right: 3px

		a
			display: block
			width: 45px
			height: 45px
			display: flex
			align-items: center
			justify-content: center
			border-radius: 50%
			background: #f2ede1

			.fa
				color: #f6bd34
				font-size: 24px
				transition: all .3s

			&:hover
				opacity: 1
				.fa
					color: $main

.payment-systems
	display: flex
	align-items: center


	span
		display: block
		padding-right: 10px
		font-size: 16px
		vertical-align: middle

	ul
		list-style: none

		li
			display: inline-block
			margin-right: 5px
			vertical-align: middle

			img
				display: block








.inner

	.header
		border-bottom: 1px solid #e5dcc9


.content-wrap
	padding-top: 50px
	display: flex
	flex-wrap: wrap

.content-inner
	width: calc(100% - 290px)
	padding-left: 25px

	.h2
		margin-bottom: 25px

	.article
		padding-top: 30px
		margin-bottom: 30px

.sidebar
	width: 290px

	&-menu
		margin-bottom: 50px
		list-style: none

		li
			border-top: 1px solid #e5dcc9

			&:last-child
				border-bottom: 1px solid #e5dcc9

			a
				display: flex
				justify-content: space-between
				align-items: center
				padding: 10px 0

				&:hover
					opacity: 1
					color: $main


				img
					display: block

				span
					width: calc(100% - 34px)
					font-size: 16px


	&-item
		padding: 40px 18px
		margin-bottom: 50px
		background: url(../img/icon-block-bg.jpg)

		.h3
			margin-bottom: 20px

	&-banner
		margin-bottom: 50px


.star
	display: flex
	align-items: center
	margin-bottom: 10px

	&-rating
		font-size: 0

		&__wrap
			font-size: 10px

			&:after
				content: ""
				display: table
				clear: both

	>span
		padding-right: 10px
		font-size: 12px

	&-rating
		&__ico
			float: right
			padding-left: 2px
			cursor: pointer
			color: #f9cf61

			&:last-child
				padding-left: 0

		&__input
			display: none

.star-rating__ico:hover
	&:before, ~ .star-rating__ico:before
	content: "\f005"

.star-rating__input:checked ~ .star-rating__ico:before
	content: "\f005"

.form

	&-item
		margin-bottom: 15px

		textarea
			min-height: 78px

		&__name
			display: block
			margin-bottom: 3px

		&__field
			width: 100%
			height: 32px
			line-height: 32px
			padding: 0 10px
			border: 1px solid #e5dcc9
			outline: none
			background: #fff

			&:hover, &:focus
				opacity: 1

			&.error
				border-color: $main
				color: $main

	&-callback
		padding: 45px 18px
		margin-bottom: 45px
		background: url(../img/icon-block-bg.jpg)

		.h3
			margin-bottom: 30px

		&__wrap
			display: flex
			align-items: center
			justify-content: space-between
			

			.row
				width: calc(100% - 88px)
				margin-left: -10px
				margin-right: -10px

				[class^='col']
					padding-left: 10px
					padding-right: 10px

	&-review
		padding: 45px 18px 45px
		background: url(../img/icon-block-bg.jpg)

		.h3
			margin-bottom: 25px

		input
			max-width: 440px

	
.reviews
	position: relative
	padding: 45px 18px 45px
	margin-bottom: 45px
	background: url(../img/icon-block-bg.jpg)

	&:before
		content: ''
		position: absolute
		left: 0
		right: 0
		top: 0
		margin-left: 18px
		margin-right: 18px
		border-top: 1px solid #e5dcc9


	&-item
		padding-top: 25px
		padding-bottom: 20px
		border-bottom: 1px solid #e5dcc9
		
		p
			margin-bottom: 10px

		&__date
			margin-bottom: 5px
			color: #969593

		&__name
			display: flex
			align-items: center
			margin-bottom: 5px

			span
				padding-right: 10px
				font-size: 16px




.color-red
	color: $main

#slider-range
	margin: 0 auto 0
	width: auto

.range-slider
	margin-bottom: 22px
	&> span
		display: block
		margin-bottom: 5px

.amount-wrapper
	position: relative
	display: flex
	justify-content: space-between
	margin: 0 0 15px 0
	padding: 0 10px

	input
		display: inline-block
		width: 80px
		height: 32px
		line-height: 32px
		padding: 0 10px
		border: 1px solid #e5dcc9
		outline: none
		background: #fff
	span
		display: inline-block
		text-align: center
		padding: 5px 0
		font-size: 12px

	.ui-widget-header
		border: none
		background: #000

.ui-widget-content
	height: 3px
	border-radius: 10px
	background: #e5dcc9
	border: none

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default
	border: none
	width: 11px
	height: 11px
	border-radius: 50%
	background: $main

.ui-slider-horizontal
	.ui-slider-range
		height: 3px
		border-radius: 0
		background: $main
	.ui-slider-handle
		outline: none
		top: -4px
		margin-left: -.7em
		cursor: pointer

.price-filter__value
	padding: 10px 0 0
	font-size: 10px
	color: #BEBEBE


.check-list
	list-style: none

	&__item
		display: inline-block
		margin-bottom: 10px

		input[type="checkbox"]
			display: none

			&+label
				position: relative
				display: block
				padding: 0 28px 0 0
				cursor: pointer
				font-size: 12px

				&::before
					content: ''
					position: absolute
					right: 0
					top: -1px
					width: 17px
					height: 17px
					display: flex
					align-items: center
					justify-content: center
					background-color: #fff
					border-radius: 0
					border: 1px solid #e5dcc9


			&:checked
				&+label
					&::before
						background-image: url(../img/check.svg)
						background-repeat: no-repeat
						background-position: center



.breadcrumbs
	position: relative
	top: -3px
	margin: 0 0 45px
	list-style: none

	li
		display: inline-block
		margin-right: -0.03em
		color: #7d6850
		font-weight: bold

		+ li::before
			content: "→"
			padding: 0 10px 0 8px


		a
			position: relative
			color: #7d6850
			font-weight: normal
			border-bottom: 1px solid

			&:hover
				color: $main
				opacity: 1
				border-color: transparent


.pagination
	margin: 50px 0 0
	list-style: none


	li
		display: inline-block
		margin-left: 3px

		a
			display: block
			width: 32px
			height: 32px
			display: flex
			align-items: center
			justify-content: center
			color: #4d423f
			border: 1px solid #e5dcc9


			&.active
				background: $main
				color: #fff
				pointer-events: none
				cursor: default

			&:hover, &:focus
				opacity: 1
				border-color: $main


		&.pagination-arrow
			a
				width: auto
				padding-left: 5px
				padding-right: 5px
				border: 1px solid #e5dcc9


.modal
	display: none
	max-width: 510px
	width: 100%
	padding: 40px 18px
	background: url(../img/icon-block-bg.jpg)

	.h2, h2
		margin-bottom: 10px
		font-size: 30px




.fancybox-slide--html .fancybox-close-small
	color: $main
	font-weight: bold